{% extends "base.html" %}

{% block cssExtras %}
<style type="text/css">
  li.trackMenu {
    font-size: 2em;
    font-family: sans-serif;
  }
</style>
{% endblock %}

{% block siteSection %}Track Index{% endblock %}

{% block contents %}
<br/>
<ul>
  <li class="trackMenu"><a href="liveMap/">Maps API auto-refreshing map</a></li>
  <li class="trackMenu"><a href="rest/liveMap.kml">KML auto-refreshing NetworkLink</a></li>
  <li class="trackMenu"><a href="rest/latest.kml">KML current position (no auto-refresh)</a></li>
  <li class="trackMenu"><a href="resources.json">GeoJSON feed</a></li>
  <li class="trackMenu"><a href="rest/trackIndex.kml">Track Index</a></li>
</ul>
{% endblock %}
