{% extends "base.html" %}

{% block cssExtras %}
<style type="text/css">
h1 {
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.trackDate {
    margin-right: 1em;
    color: #6A2B2B;
    font-weight: bold;
}
a.trackLink {
    padding-left: 1em;
}
a.trackLink span {
    color: #000088;
    font-weight: bold;
}
.disabledTrackLink {
    margin-left: 1em;
    color: #ccc;
    font-weight: bold;
}
</style>
{% endblock %}

{% block siteSection %}Export CSV Tracks{% endblock %}

{% block contents %}
<h1>Export CSV Tracks</h1>
<ul>
{{ index|safe }}
</ul>
{% endblock %}
