{% extends 'dashboard_base.html' %}

{% block jsInitPreApp %}
	{% if tracks %}
    var tracks = {{ tracks|safe }};
    {% endif %}
{% endblock jsInitPreApp %}

{% block otherJSInit %}
	{% if tracks %}
	if (tracks.length > 0) {
		app.vent.trigger("mapSearch:found", tracks);
	}
	{% endif %}
{% endblock otherJSInit %}

{% block preMap %}
<div class="grid-stack-item" id="importDiv"
        data-gs-x="0" data-gs-y="0"
        data-gs-width="3" data-gs-height="2">
            <div class="grid-stack-item-content">
            <ul class="nav justify-content-end">
				<i class="fa fa-lock pinDiv"></i><br/>
			</ul>
	<strong class="mt-negative-1rem">Import Track</strong>
<form id="import_gpx" action="{% url 'geocamTrack_importTrack' %}" method="post" enctype="multipart/form-data">
    <table>
    {{ form.as_table }}
    </table>
    <div id="buttons" >
        <input id="save" class="btn btn-primary" type="submit" value="Import">
    </div>
</form>
</div>
</div>
{% endblock preMap %}
